<aside class="sidebar">

  <div class="sidebar-logo">
    <img
      src="logo-legio-mariae.png"
      alt="Legio Mariae">
    
    <p>Legião de Maria</p>
  </div>

  <nav class="sidebar-menu">
    <a
      routerLink="/home"
      routerLinkActive="active"
      class="menu-item">

      <i class="bi bi-house-fill"></i>
      <span>Home</span>

    </a>

    <a
      routerLink="/dashboard"
      routerLinkActive="active"
      class="menu-item">

      <i class="bi bi-grid-1x2-fill"></i>
      <span>Dashboard</span>

    </a>

    <a
      routerLink="/caixa"
      routerLinkActive="active"
      class="menu-item">

      <i class="bi bi-wallet2"></i>
      <span>Caixa</span>

    </a>

    <a
      routerLink="/upload-documentos"
      routerLinkActive="active"
      class="menu-item">

      <i class="bi bi-cloud-arrow-up-fill"></i>
      <span>Documentos</span>

    </a>

    <a
      routerLink="/membros"
      routerLinkActive="active"
      class="menu-item">

      <i class="bi bi-people-fill"></i>
      <span>Membros</span>

    </a>

    <a
      routerLink="/afiliacao"
      routerLinkActive="active"
      class="menu-item">

      <i class="bi-diagram-3"></i>
      <span>Afiliação</span>

    </a>

    <a
      routerLink="/perfil"
      routerLinkActive="active"
      class="menu-item">

      <i class="bi bi-person-fill"></i>
      <span>Meu perfil</span>

    </a>

  </nav>

  <div class="sidebar-footer">

    <a
      routerLink="/login"
      class="menu-item">

      <i class="bi bi-box-arrow-right"></i>
      <span>Sair</span>

    </a>

  </div>

</aside>